table, th, td{
    border: 1px solid black;
}
table {
    border: hidden;
}
td{
    background-color: white;
}
table{
    border-spacing: 30px;
    width: 100;
    padding: 20px;
    background-color: gray;
}
td:nth-child(1),td:nth-child(1){
    background-color: gray;
}
th, td {
    text-align: center;
}

tr:nth-child(1){
    background-color: lightgray;
}
tr:nth-child(2){
    background-color: lightgray;
}