table{
    border: 1px solid; 
    border-collapse: collapse;
    
    
}
tr:nth-child(odd){
    background-color:lightblue;
    

}
.btn{
    display:flex;
    align-items: right;
    padding: 20px;
   
    
    
}
.table-1{
    display: flex;
    justify-content: space-between;
}
input[type=button]{
     background-color: lightskyblue;
     color: white;
}
tr{
   border-bottom: 1px solid;
}
th, td{
    padding: 8px;
    text-align:left;
}

.table-2{
    display: flex;
    flex-direction: column;
}
.heading-2{
    display: flex;
    color: gray;
    border-radius: 1px solid;
}
.main-2 table,th{
    background-color: gray;
     border-collapse: collapse;
     border-radius: 1px solid;

}
.main-2 table tr:nth-child(odd){
    background-color:white;
}
.main-2 table tr:nth-child(even){
    background-color:white;
}
.main-2 table tr:ntd-child(4){
    font-weight: bold;
}