.navigation{
    background-color: lightgray;
    padding-left: 0px;
    padding-bottom: 20px;
    padding-right: 70px;
    padding-top: 2px;
    border-radius: 10px;
    margin-right: 20px;
}
ul{
    list-style-type: none;

    color:blue;
}

.link-1{
    margin: 5px;

}

li{
    margin-bottom: 10px;
    margin-left: 1px;
}
li:hover{
    color: white;
    background-color:blue;
    scrollbar-width:thin;
}
.info{
    display: flex;
}
.info-1{
    background-color: lightgray;
    border-radius: 10px;
    padding-left: 81px;
    padding-right: 50px;
    padding-top: 70px;
    margin-bottom:41px;
    padding-bottom: 71px;
    
}
p{
    font-size:17;
}
input[type=button]{
    background-color: lightblue;
    border-radius: 10px;
    align-content: center;
    border: 3px solid black;
    width: 119px;
}
.flex-container{
    display:grid;
    gap:10px;
    grid-template-columns:1fr 1fr 1fr;
    
}

.information {
    display: flex;
    flex-direction: column;
}
