.head{
    display: flex;
    justify-content:space-around;
    gap: 30px;
    width: 100%;
    align-items: center;
    border-bottom: 1px dashed black;
    margin: 5px;
}
.head {
    h2{
        border:2px solid black;
        margin: 5px;
        padding: 5px;
    }
}

.head {
    a{
        text-decoration: none;
        background-color:black;
        text-align: center;
        padding: 5px;
        color: white;
    }
}

.foot{
    padding: 10px;
    border-top: 1px dashed;
    margin: 10px;
}

.foot{
   span{
    padding: 20px;
    margin: 10px;
   }
}
.main{
    width: 100%;
    display: flex;
    margin-top: 1rem;
    gap: 10px;
    
}
.left{
    width: 20%;
    padding: 20px;
    background-color: lightgrey;
}
.primary-nav{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}
.primary-nav{
    span{
        padding:10px;
        margin: 5px;
        border: 2px solid white;
        background-color: white;
    }
}

.center{
    width: 60%  
}
.right{
    width: 20%;
    background-color: lightgrey;
    padding: 20px;
}
.share{
    h4{
        padding: 0px;
    }
}
.share{
    ul{
    background-color: white;
    margin: 10px;
    align-items: center;
   }
}

.share {
    li{
        padding: 5px;
    }
}

.reco{
    padding: 10px;
    gap: 5px;
}
.reco1{
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    gap: 2px;
    background-color: white;
}
.reco1{
    a{
        color: black;
    }
}
.center{
    h3{
        margin: 5px;
    }
}
.center{
    p{
        margin: 0;
    }
}