.hed {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    background-color: black;
    color: white;
    width: 100%;
}

.hed {
    a{
        cursor: pointer;
        padding: 10px;
        color: white;
        text-decoration: none;
    }
}
header,a:hover{
        background-color: dodgerblue;
}

.list{
    width:85%;
    display: flex;
    flex-direction: column;
     margin: 20px;
}
.right  span{
    list-style-type: none;
    border: 1px solid black;
    padding: 5px;
    color: dodgerblue;
   
   
}
.nav-1{
    nav,ul{
    display: flex;
    list-style: none;
    font-size: 18px;
    color: white;
    }
}
.nav-1{
    background-color:lightgrey;
    margin-top: 20px;
    border-radius: 10px;
}
.nav-1{
        nav,li:hover{
    color: dodgerblue;
    }
}
.main{
    display:flex;
    gap: 1px;
}
.left{
    width: 75%;
}
.right{
    width: 25%;
    
}

.greet{
    background-color: lightgrey;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;

}

.flex-container{
    display:grid;
    gap:10px;
    grid-template-columns:1fr 1fr 1fr;
    
}
body{
    margin: 0px;
}