.Resume-table{
    border:solid;
    border-radius: 0px;
    align-items: center;
    border-color: deepskyblue;
    padding: 10px 20px 40px 20px;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 40px; */
    float: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    text-align: center;
    color: deepskyblue;
}
.Sign{
    float: right;
}
.submit{
    display: flex;
    justify-content: space-between;
}