.left-pos-div {
width:450px;
float: center;
}

.position-left-preview {
float: center;
width: 450px;
margin-bottom: 40px;
}

.color-bg1 {
position: relative;
width: 370px;
height: 105px;
border: 1px solid red;
background: #333333;
border-radius: 8px;
font-size: 22px;
text-align: center;
padding: 80px 15px 15px 15px;
color: #fff;
}

.position-circle {
background: url(../images/circle.png) no-repeat;
width: 49px;
height: 48px;
position: absolute;
right: -15px;
top: -15px;
padding: 8px 5px 5px 5px;
color: #fff;
font-size: 14px;
text-align: center;
font-weight: bold;
}
.fix-pos-div {
width: 100px;
position: fixed;
left: 50px;
top: 50px;
}
.fix-pos-div a img {
margin-bottom: 10px;
}
.z-index-new {z-index:-1;} 

 
.border-radius {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border: solid 1px #555;
border-radius: 10px;
}

.box-shadow{
box-shadow: 5px 5px 5px #888;
border: solid 1px #555;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}

.flex-container {
display: flex;
background-color: DodgerBlue;
}

.flex-container > div {
background-color: #f1f1f1;
margin: 10px;
padding: 20px;
font-size: 30px;
text-align: center;
flex: 1;
}

.flex-container {
display: flex;
background-color: DodgerBlue;
height: 400px;
align-items: flex-start;


}

.flex-container {
display: flex;
background-color: DodgerBlue;
justify-content: space-evenly;
flex-direction: column-reverse;
}

