#main-wrapper {
            width: 500px;
            float: center;
            background: #2f8a00;
            padding: 10px;
            border-radius: 3px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
            border: solid 1px #246702;
}

#main-wrapper #header {
      clear: both;
      background: #5eaa00;
      text-align: center;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 0;
      border-radius: 3px;
}

#main-wrapper #middle {
    clear: both;
    background: #5eaa00;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight:bold;
    padding: 10px 0;
    border-radius: 3px;
}

#main-wrapper #middle .left-middle {
      width: 360px;
      padding: 80px 10px;
      float: left;
      background: #adc52b;
}

#main-wrapper #middle .right-middle {
      width: 70px;
      padding: 80px 10px;
      float: left;
      background: #adc52b;
}

#main-wrapper #footer {
    clear: both;
    background: #5eaa00;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight:bold;
    padding: 10px 0;
    border-radius: 3px;
}

