header{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    font-size: 200%;
    font-weight: bold;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    background-color: darkgray;
    justify-content: space-between;   
    width:100%;
   
}
ul {
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    height: 100%;
    
}
li{
    gap:4rem;
    float:left;
    padding: 14px 20px; 
}
ul li:hover{
    background-color: azure;
  
}

ul li:active{
    color: orange;
}

ul li:focus{
    color: orange;
}


   
/* form{
    font-size: 100%;
    font-family: sans-serif;
    border: solid;
    padding: 20px;
    text-align: justify ;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    
}

 .form{
    display: flex;
    justify-content: center;
 }   
input[type=checkbox]{
    display: flex;
    justify-content: space-between;
} */

.car-box{
    float: left;
    width: 210px;
    border: 1px solid #ccc;
    padding: 8px;
    background: #fff;
    margin: 0 23px 0 0;
}

.space-cont {
margin: 10px;
}
.car-box h3 {
font-size: 13px;
color: #e11613;
margin-bottom: 8px;
}
.car-box h3 a {
font-size: 13px;
color: #e11613;
}
.car-box h3 a:hover {
color: #000;
}
.car-box p {
font-size: 12px;
color: #333;
line-height: 18px;
margin-bottom: 10px;
}
.car-box a {
color: #248000;
font-size: 12px;
}
.car-box a:hover {
color: #000;
}
.car-box.last {
margin-right: 0px;
}

