.transition {
width:150px;
height:150px;
background-color:orangered;
cursor: pointer;
transition:border-radius 500ms ease;
-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
transition:width 2s, height 2s, transform 2s;
}

.transition:hover {
border-radius: 50%;
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
}