.h1{
    text-align: center;
    font-size: 30px;
}
.contact-us{
    border: 2px;
    border-color: lightgray;
    background-color:lightgray;
    margin: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-block: 5px;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    
}
.name-type,input[type=text]{
    padding:5px;
    margin-bottom:2px;
}

.email-type, input[type=email]{
    padding: 5px;
    margin:1px;
}
.number-type, input[type=number]{
    padding: 5px;
    margin:1px;
}

.select-country, select{
    padding: 5px;
    padding-right: 135px;
    margin:1px;
}

.m-f,input[type=radio]{
    padding: 5px;
    margin:1px;
}

.work-select,input[type=checkbox]{
    padding: 5px;
    margin:1px;
}

.message-area,input[type=textarea]{
    padding: 5px;
    margin:1px;
}
.submit{
    padding: 5px;
    margin:1px;
}
input[type=submit]{
    border-radius: 20px;
    background-color:black;
    color:white;
    border: none;
    margin: 10px 5px;
    cursor: pointer;
    padding: 15px;
}

